@model PetsDate.Web.ViewModels.Publication.CreatePublicationInputModel
@{
    this.ViewData["Title"] = "Add new Publication";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<form method="post" class="col-md-6 offset-3">
    <section class="form-group">
        <label asp-for="Description"></label>

        <textarea asp-for="Description" class="form-control"></textarea>

        <span asp-validation-for="Description" class="text-danger"></span>
    </section>

    <input type="submit" class="btn btn-primary" />
</form>